body {
    display: flex;
    flex-direction: column;
    align-items: center;
  background-color: rgb(34, 107, 147);
  color: bisque;
}

.head {
  display: flex;
  justify-content: center;
}

.floor-box {
  display: flex;
  flex-direction: column-reverse;
}

.floor {
  display: flex;
  width: 80vw;
  height: 18vh;
  border-top: 2px solid rgb(92, 27, 172);
  border-bottom: 2px solid rgb(92, 27, 172);
  align-items: center;
}

.floor-section{
    display: flex;

}

.lift{
    background-color: black;
    display: flex;
    height: 12vh;
    width: 8vw;
}
