body {
    display: flex;
    flex-direction: column;
    align-items: center;
  background-color: #a0d2eb
}

.bac-btn {
  position: absolute;
  top: 0;
  left: 0;
  margin: 10px;
}

/* these is input page css */

.cont {
  display: flex;
  flex-direction: column;
  justify-content: space-between;
  width: 100vw;
  height: 80vh;
  background-color: #c36a6a;
  border: 1px solid black;
}

.section {
  display: flex;
  justify-content: center;
  
  width: 100vw;
  height: 1vh;
  background-color: rgb(136, 136, 28);
}

.section2 {
  display: flex;
  justify-content: center;
  
  width: 100vw;
  height: 1vh;
  background-color: rgb(136, 136, 28);
}

.section3 {
  display: flex;
  justify-content: center;
  
  width: 100vw;
  height: 1vh;
  background-color: rgb(136, 136, 28);
}

/* Input section CSS*/

.container{
  display: flex;
  height: 100vh;
  width: 100vw;
  justify-content:center ;
  align-items: center
}

.but{
  display: flex ;
  flex-direction: column;
  align-items: center;
  justify-content: center;
  gap: 4px;
}

.text{
  font-weight: 600;
  font-family: Tahoma, Verdana, Segoe, sans-serif;
}


.input-container {
  display: flex;
  flex-direction: column;
  margin-right: 10px;
}

input[type="text"] {
  height: 30px;
  width: 200px;
  padding: 5px;
  border-radius: 5px;
  border: 1px solid #cccccc;
}
.container {
  display: flex;
  flex:1;
  flex-direction: column;
  justify-content: flex-start;
  align-items: center;
  height: 100vh;
}

.button {
  align-items: center;
  appearance: none;
  background-image: radial-gradient(100% 100% at 100% 0, #5adaff 0, #5468ff 100%);
  border: 0;
  border-radius: 6px;
  box-shadow: rgba(45, 35, 66, .4) 0 2px 4px,rgba(45, 35, 66, .3) 0 7px 13px -3px,rgba(58, 65, 111, .5) 0 -3px 0 inset;
  box-sizing: border-box;
  color: #fff;
  cursor: pointer;
  display: inline-flex;
  font-family: "JetBrains Mono",monospace;
  height: 48px;
  justify-content: center;
  line-height: 1;
  list-style: none;
  overflow: hidden;
  padding-left: 16px;
  padding-right: 16px;
  position: relative;
  text-align: left;
  text-decoration: none;
  transition: box-shadow .15s,transform .15s;
  user-select: none;
  -webkit-user-select: none;
  touch-action: manipulation;
  white-space: nowrap;
  will-change: box-shadow,transform;
  font-size: 18px;
}

.button:focus {
  box-shadow: #3c4fe0 0 0 0 1.5px inset, rgba(45, 35, 66, .4) 0 2px 4px, rgba(45, 35, 66, .3) 0 7px 13px -3px, #3c4fe0 0 -3px 0 inset;
}

.button:hover {
  box-shadow: rgba(45, 35, 66, .4) 0 4px 8px, rgba(45, 35, 66, .3) 0 7px 13px -3px, #3c4fe0 0 -3px 0 inset;
  transform: translateY(-2px);
}

.button:active {
  box-shadow: #3c4fe0 0 3px 7px inset;
  transform: translateY(2px);
}



/* end of input page css */



.head {
  display: flex;
  justify-content: center;
  color: #0049B7;
}
/*This     */
.floor-box {
  display: flex;
  flex-direction: column-reverse;
}

.floor {
  align-items: center;
  display: flex;
  width: 80vw;
  height: 18vh;
  border-top: 2px solid #ffa8B6;
  border-bottom: 2px solid #ffa8B6;
  align-items: center;
  margin-top: 6px;
}

.floor-section{
    display: flex;
    gap:12px
}

.lift{
    margin-left: 6px;
    background-color: #4b5092;
    gap: 4px;
    border-radius: 6px;
    display: flex;
    height: 15vh;
    width: 6.6vw;
}

.lift.right.left{
  flex-basis: 50%;
}

.btn-section{
  display: grid;
  gap: 4px;
}

button{

  
  outline: none;
  cursor: pointer;
  padding: 0 16px;
  background-color: #0070d2;
  border-radius: 0.25rem;
  border: 1px solid #0070d2;
  color: #fff;
  font-size: 13px;
  line-height: 30px;
  font-weight: 400;
  text-align: center;
  background-color: #005fb2;  
  border-color: #005fb2;
  box-shadow: 4px;

}

button:active{
  color: white;
  background-color: #007FFF;
    transform: translateY(4px);
}

/* Transition lift css */



