html,body {
  display: flex;
  height: 100%;
  align-items: center;
  background-color: beige;
}
.cont {
  display: flex;
  flex-direction: column;
  justify-content: space-between;
  width: 100vw;
  height: 80vh;
  background-color: #c36a6a;
  border: 1px solid black;
}

.section {
  display: flex;
  justify-content: center;
  
  width: 100vw;
  height: 1vh;
  background-color: rgb(136, 136, 28);
}

.section2 {
  display: flex;
  justify-content: center;
  
  width: 100vw;
  height: 1vh;
  background-color: rgb(136, 136, 28);
}

.section3 {
  display: flex;
  justify-content: center;
  
  width: 100vw;
  height: 1vh;
  background-color: rgb(136, 136, 28);
}

/* Input section CSS*/

.container{
  display: flex;
  height: 100vh;
  width: 100vw;
  justify-content:center ;
  align-items: center
}

.but{
  display: flex ;
  flex-direction: column;
  align-items: center;
  justify-content: center;
  gap: 4px;
}

.text{
  font-weight: 600;
  font-family: Tahoma, Verdana, Segoe, sans-serif;
}


.input-container {
  display: inline-block;
  margin-right: 10px;
}

input[type="text"] {
  height: 30px;
  width: 200px;
  padding: 5px;
  border-radius: 5px;
  border: 1px solid #ccc;
}
.container {
  display: flex;
  flex-direction: column;
  justify-content: flex-start;
  align-items: center;
  height: 100vh;
}

.head {
  margin-top: 20px;
  margin-bottom: 20px;
  font-size: 2rem;
}


/* CSS */
.button-29 {
  align-items: center;
  appearance: none;
  background-image: radial-gradient(100% 100% at 100% 0, #5adaff 0, #5468ff 100%);
  border: 0;
  border-radius: 6px;
  box-shadow: rgba(45, 35, 66, .4) 0 2px 4px,rgba(45, 35, 66, .3) 0 7px 13px -3px,rgba(58, 65, 111, .5) 0 -3px 0 inset;
  box-sizing: border-box;
  color: #fff;
  cursor: pointer;
  display: inline-flex;
  font-family: "JetBrains Mono",monospace;
  height: 48px;
  justify-content: center;
  line-height: 1;
  list-style: none;
  overflow: hidden;
  padding-left: 16px;
  padding-right: 16px;
  position: relative;
  text-align: left;
  text-decoration: none;
  transition: box-shadow .15s,transform .15s;
  user-select: none;
  -webkit-user-select: none;
  touch-action: manipulation;
  white-space: nowrap;
  will-change: box-shadow,transform;
  font-size: 18px;
}

.button-29:focus {
  box-shadow: #3c4fe0 0 0 0 1.5px inset, rgba(45, 35, 66, .4) 0 2px 4px, rgba(45, 35, 66, .3) 0 7px 13px -3px, #3c4fe0 0 -3px 0 inset;
}

.button-29:hover {
  box-shadow: rgba(45, 35, 66, .4) 0 4px 8px, rgba(45, 35, 66, .3) 0 7px 13px -3px, #3c4fe0 0 -3px 0 inset;
  transform: translateY(-2px);
}

.button-29:active {
  box-shadow: #3c4fe0 0 3px 7px inset;
  transform: translateY(2px);
}

