html,body {
  display: flex;
  height: 100%;
  align-items: center;
  background-color: beige;
}
.cont {
  display: flex;
  flex-direction: column;
  justify-content: space-between;
  width: 100vw;
  height: 80vh;
  background-color: #c36a6a;
  border: 1px solid black;
}

.section {
  display: flex;
  justify-content: center;
  
  width: 100vw;
  height: 1vh;
  background-color: rgb(136, 136, 28);
}

.section2 {
  display: flex;
  justify-content: center;
  
  width: 100vw;
  height: 1vh;
  background-color: rgb(136, 136, 28);
}

.section3 {
  display: flex;
  justify-content: center;
  
  width: 100vw;
  height: 1vh;
  background-color: rgb(136, 136, 28);
}

